{% extends "base_generic.html" %}
{% block content %}
{% load static %}
        <!-- Home Content -->
        <div id="content" class="site-content">
            <div id="blog-wrapper">
                <div class="blog-holder center-relative">
                    {% for post in post_latest %}
                        {% if forloop.first %}
                        <article id="post-1" class="blog-item-holder featured-post">
                            <div class="entry-content relative">
                                <div class="content-1170 center-relative">
                                    <div class="cat-links">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <!-- 일상,정보 -->
                                                    {% for c in post.category.all %}
                                                        {{ c }}
                                                        {% if not forloop.last %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-date published">{{ post.createDate }}</div>
                                    <h2 class="entry-title">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </h2>
                                    <div class="excerpt">
                                        {% if post.is_content_more300 %}
                                            {{ post.get_content_under300 }}
                                        {% else %}
                                            {{ post.content }}
                                        {% endif %}
                                        <a class="read-more" href="{{ post.get_absolute_url }}"></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </article>
                        {% else %}
                        <article id="post-{{ forloop.counter }}" class="blog-item-holder">
                            <div class="entry-content relative">
                                <div class="content-1170 center-relative">
                                    <h2 class="entry-title">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </h2>
                                    <div class="cat-links">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    {% for c in post.category.all %}
                                                    {{ c }}
                                                    {% if not forloop.last %}
                                                        ,
                                                    {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-date published">{{ post.createDate }}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </article>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="clear"></div>
                <div class="block load-more-holder">LOAD MORE ENTRIES</div>
            </div>

            <div class="featured-image-holder">
                <div class="featured-post-image" style="background-image: url({% static 'demo-images/featured-image.jpg' %})"></div>

            </div>
            <div class="clear"></div>
        </div>
        
{% endblock %}