{% extends "base_generic.html" %}

{% block content %}
  {% if perms.catalog.can_mark_returned %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) - {{ bookinst.borrower }}        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
  {% else %}
    <p>사서나 관리자만 접근 가능한 메뉴입니다.</p>
  {% endif %}
{% endblock %}