{% extends "base_generic.html" %}
{% block content %}
{% load static %}

        <!-- Single Content -->
        <div id="content" class="site-content center-relative">
            <div class="single-post-wrapper content-1070 center-relative">

                <article class="center-relative">
                    <h1 class="entry-title">
                        {{ post.title }}
                    </h1>
                    <div class="post-info content-660 center-relative">
                        <div class="cat-links">
                            <ul>
                                <li><a href="#">
                                        {% for c in post.category.all %}
                                        {{ c }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                        {% endfor %}
                                </a></li>
                            </ul>
                        </div>
                        <div class="entry-date published">{{ post.createDate }}</div>
                        <div class="clear"></div>
                    </div>

                    {% if post.title_image %}
                    <div class="post-full-width">
                        <img src="{{ post.title_image.url }}" alt="">
                    </div>
                    {% endif %}

                    <div class="entry-content">
                        <div class="content-wrap content-660 center-relative">
                            {{ post.content }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
            </div>
        </div>
        
{% endblock %}