{% extends "base_generic.html" %}
{% block content %}
{% load static %}

        <!-- Single Content -->
        <div id="content" class="site-content center-relative">
            <div class="single-post-wrapper content-1070 center-relative">

                <article class="center-relative">
                    <h2>새 글 작성하기</h2>
                    {% load widget_tweaks %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for={{field.id_for_label}}>{{field.label}}</label>
                            {{field|add_class:'form-control'}}
                            {% for error in field.errors %}
                            <span class="help-block">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <input type="submit" value="작성 완료">
                    </form>
                    <div class="clear"></div>
                </article>
            </div>
        </div>
        
{% endblock %}